renv
.DS_Store
__pycache__
cache
*.pyc
*.log
*.twbr
trip-trace-conflation/scripts/output*
trip-trace-conflation/ArcGISProject
trip-trace-conflation/scripts/find_osmid.ipynb
trip-trace-conflation/scripts/test.ipynb
*.docx
*.html
